body{
    background-color: rgb(4, 4, 8);
    display: flex;
    padding: auto;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.register-container{
    background-color: rgb(239, 121, 25);
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    width: 300px;


}
.input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;

}
button{
    width: 100%;
    padding: 10px;
    background-color: rgb(197, 132, 33);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
}
button:hover{
    background-color: rgb(180, 94, 8);
}